<app-header-trading></app-header-trading>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class="middle-content col-md-8 ">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                  <div class="coming-soon">
                                      <h4 class="mb-4">Comming Soon.......!</h4>
                                  </div>
                                  <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="material-icons navbar-toggler-icon">
                                            menu
                                            </i> <span class="submenu-text">submenu</span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarCollapse">
                                        <ul class="navbar-nav mr-auto">
                                           
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Performance</a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                                    <li class="dropdown-item dropdown">
                                                        <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Old Reference</a>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                                                            <li class="dropdown-item" href="#" routerLink="/filters"><a>Filters</a></li>
                                                            <li class="dropdown-item" href="#" routerLink="/performance"><a>Performance</a></li>
                                                            <li class="dropdown-item" href="#" routerLink="/psychology"><a>Psychology</a></li>
                                                            <li class="dropdown-item" href="#" routerLink="/quarterwise-performance"><a>Quarterwise Performance</a></li>
                                                            <li class="dropdown-item" href="#" routerLink="/socials-performance"><a>Socials</a></li>
                                                            <li class="dropdown-item" href="#" routerLink="/source-type-performance"><a>Source Type Performance</a></li>
                                                            
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown-item" href="#" routerLink="/candelstick-perf"><a>Candelstick</a></li>
                                                    <li class="dropdown-item" href="#" routerLink="/chart-studies-perf"><a>Chart Studies</a></li>
                                                    <li class="dropdown-item" href="#" routerLink="/eco-cal-perf"><a>Economical Calander</a></li>
                                                    <li class="dropdown-item" href="#" routerLink="/indicators-perf"><a>Indicator</a></li>
                                                    <li class="dropdown-item" href="#" routerLink="/newsperf"><a>News</a></li>
                                                    <li class="dropdown-item" href="#" routerLink="/pstchology-perf"><a>Psychology</a></li>
                                                    <li class="dropdown-item" href="#" routerLink="/signal-provider-perf"><a>Signal Provider</a></li>
                                                    <li class="dropdown-item" href="#" routerLink="/source-type-perf"><a>Source Type</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" routerLink="/signedup-dashboard">Dashboard</a>
                                              </li>
                                            
                                        </ul>
                                        
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                      </div>
                        </div>
                   </div>
                </div>

        
</div>

<app-footer-trading></app-footer-trading>