<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content" [ngStyle]="{'margin-left': margin_left + 'px'}">
  <mat-card class="main-mat-card">
    <div class="row page-content bor-btm">
        <div class="col-md-12">
            <div class="header">
                <h5>Features Control</h5>
              </div>
        </div>
        
      </div>
      <div class="row page-content">
          <div class="col-md-12">
              <table class="table commn-table">
                  <thead>
                    <tr>
                       <th>Sr. No.</th>
                       <th>Feature Name</th>
                       <th>Visitors</th>
                       <th>Signed up User</th>
                       <th>General User</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td >Calculators</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td >Charts</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td >Chat</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td >Economical Calender</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>5.</td>
                      <td >Blog</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>6.</td>
                      <td >News</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>7.</td>
                      <td >Articles</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>8.</td>
                      <td >Dashboard</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>9.</td>
                      <td >Planning</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>10.</td>
                      <td >Chart Study</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>11.</td>
                      <td >Performance</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>12.</td>
                      <td >Trade Entry </td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>13.</td>
                      <td >Reports</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>14.</td>
                      <td >Personal Page</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>15.</td>
                      <td >Socials</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                      <td>16.</td>
                      <td >Signed Up</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
      
      </mat-card>
</div>
<div style="clear: both;"></div>
<app-footer></app-footer>