.like-i {
    color: #056cff;
}
.dislike-i {
    color: #cd5f0f;
}
.comment-i{
    color:#c19b16 ;
}
.add-i{
    color: #2da51a;
}
.options .mat-icon {
    margin-right: 15px;
    cursor: pointer;
}
.blog-details h3 {
    color: #176eca;
    font-size: 28px;
}
.blog-details h6 {
    color: #a09c9c;
    font-size: 13px;
    font-weight: 100;
}
.blog-details p {
    color: #8e8e8e;
    font-size: 14px;
}
.blog {
    box-shadow: 0px 0px 10px #ddddddb3;
    padding: 20px 10px;
}
.blog-img img {
    box-shadow: 0px 0px 10px #ddd;
}