<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content" [ngStyle]="{'margin-left': margin_left + 'px'}">
  <mat-card class="main-mat-card">
    <div class="row page-content bor-btm">
      <div class="col-md-12">
          <div class="header">
              <h5>New Role</h5>
            </div>
      </div>
         
      </div>
      <div class="row page-content bor-btm">
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Role Name">
                </mat-form-field>
          </div>
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Description">
                </mat-form-field>
          </div>
          <div class="col-md-4 text-right">
              <div class="action-btn">
                  <button mat-raised-button class="btn">Save</button>
                </div>
          </div>
          </div>
          <div class="row page-content">
              <table class="table commn-table new-role-tbl">
                  <thead>
                    <tr>
                       <th>Sr. No.</th>
                       <th>Menu</th>
                       <th>Access</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td >Dashboard</td>
                      <td><mat-checkbox></mat-checkbox></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td >User Management</td>
                        <td><mat-checkbox></mat-checkbox></td>
                      </tr>
                      <tr>
                          <td>3.</td>
                          <td >Accounting</td>
                          <td><mat-checkbox></mat-checkbox></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td >Access Control</td>
                            <td><mat-checkbox></mat-checkbox></td>
                          </tr>
                          <tr>
                              <td>5.</td>
                              <td >Feature Control</td>
                              <td><mat-checkbox></mat-checkbox></td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td >Advertisement Management
                                  <div class="subtext">
                                      <mat-checkbox class="checkbox"></mat-checkbox> 
                                      Assigned advertisement
                                  </div>
                                </td>
                                <td><mat-checkbox></mat-checkbox></td>
                              </tr>
                              <tr>
                                  <td>7.</td>
                                  <td >CMS</td>
                                  <td><mat-checkbox></mat-checkbox></td>
                                </tr>
                  </tbody>
                </table>
          </div>
          <br>
  </mat-card>
</div>
<app-footer></app-footer>