html

_________________________
<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class="middle-content col-md-8">
                          <div class="row">
                            <div class="col-md-4 chat_usernames">
                              <header class="chat_userprofile">
                                <div class="user_img text-center">
                                  <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                </div>
                                <h2>User Name</h2>
                                <p>username@gmail.com</p>
                                <h6>8596746532</h6>
                              </header>
                              <div class="chat_searchsection">
                                  <form class="example-form">
                                  <mat-form-field class="chat_search">
                                      <input matInput placeholder="Search">
                                      <i class="material-icons chat_searchicon">
                                          search
                                          </i>
                                    </mat-form-field>
                                    </form>
                              </div>
                              <div class="chat_userslist">
                                <ul class="nav nav-tabs chatuser_menu">
                                  <li class="active">
                                    <a data-toggle="tab" href="#home"><i class="material-icons chat_icon">
                                          sms
                                          </i></a>
                                          
                                        </li>
                                  <li><a data-toggle="tab" href="#menu1">
                                    <i class="material-icons chat_icon">
                                      people
                                      </i></a>
                                      
                                    </li>
                                  <li><a data-toggle="tab" href="#menu2">
                                    <i class="material-icons chat_icon">
                                      contact_phone
                                      </i></a>
                                      
                                    </li>
                                  <li><a data-toggle="tab" href="#menu3">
                                    <i class="material-icons chat_icon">
                                      notifications_active
                                      </i></a>
                                     
                                    </li>
                                </ul>
                              
                                <div class="tab-content">
                                  <div id="home" class="tab-pane fade in active">
                                    <div class="user_profile">
                                      <div class="user_img text-center">
                                          <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                        </div>
                                        <h2>Trade Position 1</h2>
                                        <h6>Last Seen 7.35 pm</h6>
                                      </div>
                                      <div class="user_profile">
                                        <div class="user_img text-center">
                                            <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                          </div>
                                          <h2>Trade Position 2</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img text-center">
                                              <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                            </div>
                                            <h2>Trade Position 3</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                          <div class="user_profile">
                                            <div class="user_img text-center">
                                                <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                              </div>
                                              <h2>Trade Position 4</h2>
                                              <h6>Last Seen 7.35 pm</h6>
                                            </div>
                                            <div class="user_profile">
                                              <div class="user_img text-center">
                                                  <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                                </div>
                                                <h2>Trade Position 5</h2>
                                                <h6>Last Seen 7.35 pm</h6>
                                              </div>
                                  </div>
                                  <div id="menu1" class="tab-pane fade">
                                      <div class="user_profile">
                                        <div class="user_img text-center">
                                            <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                          </div>
                                          <h2>Trade Position 1</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img text-center">
                                              <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                            </div>
                                            <h2>Trade Position 2</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                  </div>
                                  <div id="menu2" class="tab-pane fade">
                                      <div class="user_profile">
                                        <div class="user_img text-center">
                                            <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                          </div>
                                          <h2>Trade Position 3</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img text-center">
                                              <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                            </div>
                                            <h2>Trade Position 4</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                          <div class="user_profile ">
                                            <div class="user_img text-center">
                                                <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                              </div>
                                              <h2>Trade Position 5</h2>
                                              <h6>Last Seen 7.35 pm</h6>
                                            </div>
                                  </div>
                                  <div id="menu3" class="tab-pane fade">
                                      <div class="user_profile">
                                        <div class="user_img text-center">
                                            <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                          </div>
                                          <h2>Trade Position 1</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img text-center">
                                              <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                            </div>
                                            <h2>Trade Position 2</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                          <div class="user_profile">
                                            <div class="user_img text-center">
                                                <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                              </div>
                                              <h2>Trade Position 3</h2>
                                              <h6>Last Seen 7.35 pm</h6>
                                            </div>
                                            <div class="user_profile">
                                              <div class="user_img text-center">
                                                  <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                                </div>
                                                <h2>Trade Position 4</h2>
                                                <h6>Last Seen 7.35 pm</h6>
                                              </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-8 chats_section">
                              
                                <header class="chatsec_header">
                                  <div class="chat_person">
                                    <img src="assets/images/male_user.png" alt="male_user.png" title="User Pic">
                                  </div>
                                  <h2>Trader Name</h2>
                                  <h6>Last Seen 7.35 pm</h6>
                                  <i class="material-icons add_usergrp">
                                      group_add
                                      </i>
                                  <button mat-button [matMenuTriggerFor]="menu" class="chat_more">
                                    <i class="material-icons chat_menuoption">
                                      more_vert
                                      </i></button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Item 1</button>
                                    <button mat-menu-item>Item 2</button>
                                  </mat-menu>
                                </header>
                                <div class="row chating_section">
                                    <div class="col-md-12 ">
                                      <div class="left_sidechat">
                                          <p><img src="assets/images/trade-position-tbl.png" width="100%" ></p>
                                              <span class="time-right">11:01 am</span>
                                      </div>
                                        
                                       
                                      </div>
                                      <div class="col-md-12 ">
                                        <div class="right_sidechat">
                                            <p><img src="assets/images/trade-position-tbl.png" width="100%" ></p>
                                            <span class="time-left">11:00 am</span>
                                        </div>
                                          
                                        </div>
                                        <!-- <div class="col-md-7 left_sidechat">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec 
                                              pharetra feugiat pharetra. </p>
                                            <span class="time-right">11:02 am</span>
                                          </div> -->
                                          
                                  <div class="col-md-12 send-rpy">
                                    <div class="chating_below">
                                        <form class="example-form">
                                            <mat-form-field class="chat_belowsearch">
                                                <input matInput placeholder="Search">
                                                <i class="material-icons chat_searchicon">
                                                    search
                                                    </i>
                                              </mat-form-field>
                                              </form>
                                              <span class="action-icon">
                                                  <i class="material-icons send_sms">
                                                      send
                                                  </i>
                                                  <i class="material-icons reply_sms">reply</i>
                                              </span>
                                    </div>
                                      
                                           
                                  </div>
                                </div>
                            </div>
                  
                          </div>
                        
                        </div>

                          <div class="right-side col-md-2 text-right">
                              <div class="adv-right-image">
                                      <p><img src="assets/images/right-adv.png"></p>
                              </div>
                          </div>
                   
                    </div>

        
            </div>
</div>

<app-footer-trading></app-footer-trading>