<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class="middle-content col-md-8">
                          
                          <div class="row">
                            <div class="col-md-6">
                              <mat-card>
                                
                                  <mat-list>
                                    <perfect-scrollbar style="max-height: 330px;" [config]="config">
                                    <div class="sec-list">
                                      <mat-list-item>
                                          <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                          <h4 mat-line>MagicPoopCannon</h4>
                                          <div mat-line>
                                            <div class="list-info">
                                              <p><i class="material-icons">perm_identity</i><span>14256</span></p>
                                              <p><i class="material-icons">bar_chart</i><span>14256</span>
                                              </p>
                                            </div>
                                          </div>
                                          <button mat-raised-button class="btn-d bdr-rad15 blue-bg ">Accept</button>
                                      </mat-list-item>
                                    </div>
                                    <div class="sec-list">
                                        <mat-list-item>
                                            <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                            <h4 mat-line>DLavrov</h4>
                                            <div mat-line>
                                              <div class="list-info">
                                                <p><i class="material-icons">perm_identity</i> <span>14256</span></p>
                                                <p><i class="material-icons">bar_chart</i> <span>14256</span></p>
                                              </div>
                                            </div>
                                            <button mat-raised-button class="btn-d bdr-rad15 blue-bg ">Accept</button>
                                        </mat-list-item>
                                      </div>
                                      <div class="sec-list">
                                          <mat-list-item>
                                              <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                              <h4 mat-line>DLavrov</h4>
                                              <div mat-line>
                                                <div class="list-info">
                                                  <p><i class="material-icons">perm_identity</i> <span>14256</span></p>
                                                  <p><i class="material-icons">bar_chart</i> <span>14256</span></p>
                                                </div>
                                              </div>
                                              <button mat-raised-button class="btn-d bdr-rad15 blue-bg ">Accept</button>
                                          </mat-list-item>
                                        </div>
                                        <div class="sec-list">
                                            <mat-list-item>
                                                <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                <h4 mat-line>MagicPoopCannon</h4>
                                                <div mat-line>
                                                  <div class="list-info">
                                                    <p><i class="material-icons">perm_identity</i> <span>14256</span></p>
                                                    <p><i class="material-icons">bar_chart</i> <span>14256</span></p>
                                                  </div>
                                                </div>
                                                <button mat-raised-button class="btn-d bdr-rad15 blue-bg ">Accept</button>
                                            </mat-list-item>
                                          </div>
                                          <div class="sec-list">
                                              <mat-list-item>
                                                  <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                  <h4 mat-line>MagicPoopCannon</h4>
                                                  <div mat-line>
                                                    <div class="list-info">
                                                      <p><i class="material-icons">perm_identity</i> <span>14256</span></p>
                                                      <p><i class="material-icons">bar_chart</i> <span>14256</span></p>
                                                    </div>
                                                  </div>
                                                  <button mat-raised-button class="btn-d bdr-rad15 blue-bg ">Accept</button>
                                              </mat-list-item>
                                            </div>
                                            <div class="sec-list">
                                                <mat-list-item>
                                                    <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                    <h4 mat-line>MagicPoopCannon</h4>
                                                    <div mat-line>
                                                      <div class="list-info">
                                                        <p><i class="material-icons">perm_identity</i> <span>14256</span></p>
                                                        <p><i class="material-icons">bar_chart</i> <span>14256</span></p>
                                                      </div>
                                                    </div>
                                                    <button mat-raised-button class="btn-d bdr-rad15 blue-bg ">Accept</button>
                                                </mat-list-item>
                                              </div>
                                    </perfect-scrollbar>
                                  </mat-list>
                              </mat-card>
                            </div>
                            <div class="col-md-6">
                                <mat-card>
                                    <mat-list>
                                        <perfect-scrollbar style="max-height: 330px;" [config]="config">
                                        <div class="sec-list">
                                          <div class="row">
                                            <div class="col-md-4 personal-profile text-right">
                                                <mat-icon mat-list-icon><img class="pro-img1" src="assets/images/avtar.jpg" alt="" ></mat-icon>
                                            </div>

                                            <div class="col-md-8">
                                                <h5 mat-line>MagicPoopCannon</h5>
                                                <div mat-line>
                                                <div class="list-info">
                                                  <p><i class="material-icons">forum</i></p><span></span> 
                                                  <p><i class="material-icons">email</i></p><span></span>
                                                  <p><i class="material-icons">
                                                      group
                                                      </i></p><span></span>
                                                </div>
                                                </div>
                                            </div>
                                          </div>
                                            
                                          <div class="mt-4">
                                          <mat-list-item>
                                              <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                              <h4 mat-line>MagicPoopCannon</h4>
                                              <div mat-line>
                                                  <div class="list-info">
                                                    <p><i class="material-icons">
                                                        forum
                                                        </i><span></span></p>
                                                    <p><i class="material-icons">
                                                        email
                                                        </i><span></span></p>
                                                  </div>
                                                </div>
                                              
                                              <button mat-raised-button class="btn-d bdr-rad15 blue-bg1 ">Following</button>
                                          </mat-list-item>
                                        </div>

                                        <div class="sec-list">
                                            <mat-list-item>
                                                <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                <h4 mat-line>DLavrov</h4>
                                                <div mat-line>
                                                  <div class="list-info">
                                                    <p><i class="material-icons">
                                                        forum
                                                        </i><span></span></p>
                                                    <p><i class="material-icons">
                                                        email
                                                        </i><span></span></p>
                                                  </div>
                                                </div>
                                                <button mat-raised-button class="btn-d bdr-rad15 blue-bg1 ">Following</button>
                                            </mat-list-item>
                                          </div>
                                          <div class="sec-list">
                                              <mat-list-item>
                                                  <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                  <h4 mat-line>DLavrov</h4>
                                                  <div mat-line>
                                                    <div class="list-info">
                                                      <p><i class="material-icons">
                                                          forum
                                                          </i><span></span></p>
                                                      <p><i class="material-icons">
                                                          email
                                                          </i><span></span></p>
                                                    </div>
                                                  </div>
                                                  <button mat-raised-button class="btn-d bdr-rad15 blue-bg1 ">Following</button>
                                              </mat-list-item>
                                            </div>
                                            <div class="sec-list">
                                                <mat-list-item>
                                                    <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                    <h4 mat-line>MagicPoopCannon</h4>
                                                    <div mat-line>
                                                      <div class="list-info">
                                                        <p><i class="material-icons">
                                                            forum
                                                            </i><span></span></p>
                                                        <p><i class="material-icons">
                                                            email
                                                            </i><span></span></p>
                                                      </div>
                                                    </div>
                                                    <button mat-raised-button class="btn-d bdr-rad15 blue-bg1 ">Following</button>
                                                </mat-list-item>
                                              </div>
                                              <div class="sec-list">
                                                  <mat-list-item>
                                                      <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                      <h4 mat-line>MagicPoopCannon</h4>
                                                      <div mat-line>
                                                        <div class="list-info">
                                                          <p><i class="material-icons">
                                                              forum
                                                              </i><span></span></p>
                                                          <p><i class="material-icons">
                                                              email
                                                              </i> <span></span></p>
                                                        </div>
                                                      </div>
                                                      <button mat-raised-button class="btn-d bdr-rad15 blue-bg1 ">Following</button>
                                                  </mat-list-item>
                                                </div>
                                                <div class="sec-list">
                                                    <mat-list-item>
                                                        <mat-icon mat-list-icon><img class="avtar" src="assets/images/avtar.jpg" alt=""></mat-icon>
                                                        <h4 mat-line>MagicPoopCannon</h4>
                                                        <div mat-line>
                                                          <div class="list-info">
                                                            <p><i class="material-icons">
                                                                forum
                                                                </i><span></span></p>
                                                            <p><i class="material-icons">
                                                                email
                                                                </i> <span></span></p>
                                                          </div>
                                                        </div>
                                                        <button mat-raised-button class="btn-d bdr-rad15 blue-bg1 ">Following</button>
                                                    </mat-list-item>
                                                    </div>
                                                  </div>
                                        </perfect-scrollbar>
                                      </mat-list>
                                </mat-card>
                              </div>
                          </div>
                            <div class="row blog mb-4 mt-4">
                              <div class="col-md-5">
                                <div class="blog-details">
                                  <h3>Brand new chart layouts</h3> 
                                  <h6>December 4, 2018</h6>
                                  <br>
                                  <p>We listened to your requests! Check out the brand new chart layouts that we added. We’ve got something for 
                                      everyone.
                                      <br><br>
                                      
                                      You can start testing those new layouts by clicking the Select Layout tab on the top toolbar.
                                      
                                      </p>
                                      <p class="options m-o">
                                          <mat-icon class="like-i" matTooltip="Like">thumb_up</mat-icon>
                                          <mat-icon class="dislike-i" matTooltip="Dislike">thumb_down</mat-icon>
                                          <mat-icon class="comment-i" matTooltip="Comments">forum</mat-icon>
                                          
                                      </p>
                                </div>
                              </div>
                              <div class="col-md-7">
                                <div class="blog-img">
                                  <img src="assets/images/blog-img.png" width="100%">
                                </div>
                              </div>
                            </div>
                             <div class="row blog mb-4">
                                <div class="col-md-7">
                                    <div class="blog-img">
                                      <img src="assets/images/blog-img.png" width="100%">
                                    </div>
                                  </div>
                              <div class="col-md-5">
                                <div class="blog-details">
                                  <h3>Alert notifications are 
                                      delivered straight to 
                                      your iOS app now!</h3>
                                  <h6>December 4, 2018</h6>
                                  <br>
                                  <p>We have received numerous requests to add push notifications to our iOS app. 
                                      In fact, we have started receiving them since the very beginning of publishing an app on the AppStore. 
                                      <br><br>
                                      TradingView team is excited to 
                                      announce that push notifications are now available in the native iOS app! Get instant push notifications on your iPhone & iPad to stay informed about markets & your investments.
                                      
                                      </p>
                                      <p class="options m-o">
                                          <mat-icon class="like-i" matTooltip="Like">thumb_up</mat-icon>
                                          <mat-icon class="dislike-i" matTooltip="Dislike">thumb_down</mat-icon>
                                          <mat-icon class="comment-i" matTooltip="Comments">forum</mat-icon>
                                         
                                      </p>
                                </div>
                              </div>
                              
                            </div>
                            <div class="row blog mb-4">
                                <div class="col-md-12">
                                  <div class="blog-details">
                                    <h3>Alert notifications are 
                                        delivered straight to 
                                        your iOS app now!</h3>
                                    <h6>December 4, 2018</h6>
                                    <br>
                                    <p>We have received numerous requests to add push notifications to our iOS app. 
                                        In fact, we have started receiving them since the very beginning of publishing an app on the AppStore. 
                                        <br><br>
                                        TradingView team is excited to 
                                        announce that push notifications are now available in the native iOS app! Get instant push notifications on your iPhone & iPad to stay informed about markets & your investments.
                                        
                                        </p>
                                        <p class="options m-o">
                                            <mat-icon class="like-i" matTooltip="Like">thumb_up</mat-icon>
                                            <mat-icon class="dislike-i" matTooltip="Dislike">thumb_down</mat-icon>
                                            <mat-icon class="comment-i" matTooltip="Comments">forum</mat-icon>
                                           
                                        </p>
                                  </div>
                                </div>
                                
                              </div>
                        </div>
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                      </div>
                        </div>
                   </div>
                </div>

        
</div>

<app-footer-trading></app-footer-trading>