<app-header-trading></app-header-trading>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class="middle-content col-md-8">
                            <div class="row">
                                <div class="col-md-5 performers-left">
                                    <div class="row testimonials">
                                        <div class="col-md-3">
                                            <img src="assets/images/usrimg.png" class="aligncenter">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="data">
                                                <h6>User Name</h6>
                                                <p class="m-0">username@gmail.com</p>
                                                <p class="m-0">9890777894</p>
                                                <p class="m-0 follow"><span><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="star">star</mat-icon>
                                                    <mat-icon class="star">star</mat-icon></span><span><button mat-button class="followbtn">Follow</button></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row testimonials">
                                        <div class="col-md-3">
                                            <img src="assets/images/usrimg.png" class="aligncenter">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="data">
                                                <h6>User Name</h6>
                                                <p class="m-0">username@gmail.com</p>
                                                <p class="m-0">9890777894</p>
                                                <p class="m-0 follow"><span><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="star">star</mat-icon>
                                                    <mat-icon class="star">star</mat-icon></span><span><button mat-button class="followbtn">Follow</button></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row testimonials">
                                            <div class="col-md-3">
                                                <img src="assets/images/usrimg.png" class="aligncenter">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="data">
                                                    <h6>User Name</h6>
                                                    <p class="m-0">username@gmail.com</p>
                                                    <p class="m-0">9890777894</p>
                                                    <p class="m-0 follow"><span><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="star">star</mat-icon>
                                                        <mat-icon class="star">star</mat-icon></span><span><button mat-button class="followbtn">Follow</button></span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row testimonials">
                                                <div class="col-md-3">
                                                    <img src="assets/images/usrimg.png" class="aligncenter">
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="data">
                                                        <h6>User Name</h6>
                                                        <p class="m-0">username@gmail.com</p>
                                                        <p class="m-0">9890777894</p>
                                                        <p class="m-0 follow"><span><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="star">star</mat-icon>
                                                            <mat-icon class="star">star</mat-icon></span><span><button mat-button class="followbtn">Follow</button></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row testimonials">
                                                    <div class="col-md-3">
                                                        <img src="assets/images/usrimg.png" class="aligncenter">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="data">
                                                            <h6>User Name</h6>
                                                            <p class="m-0">username@gmail.com</p>
                                                            <p class="m-0">9890777894</p>
                                                            <p class="m-0 follow"><span><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="star">star</mat-icon>
                                                                <mat-icon class="star">star</mat-icon></span><span><button mat-button class="followbtn">Follow</button></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row testimonials">
                                                        <div class="col-md-3">
                                                            <img src="assets/images/usrimg.png" class="aligncenter">
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="data">
                                                                <h6>User Name</h6>
                                                                <p class="m-0">username@gmail.com</p>
                                                                <p class="m-0">9890777894</p>
                                                                <p class="m-0 follow"><span><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="fill-star">star</mat-icon><mat-icon class="star">star</mat-icon>
                                                                    <mat-icon class="star">star</mat-icon></span><span><button mat-button class="followbtn">Follow</button></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                </div>
                                <div class="col-md-7 p-0 performers-right">
                                    <h5 class="header">Selected Trader Performance</h5>
                                    <div class="account-txt">
                                    <mat-card-content>
                                        <h4>Account</h4>
                                        <perfect-scrollbar style="max-height: 330px;" [config]="config">
                                            <table class="table commn-table">
                                                <thead>
                                                    <tr>
                                                        <th>Account</th>
                                                        <th>Total Duration</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Return Of Account(Short)</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Return Of Account(Short)</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Return Of Account(Short)</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr> <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Balance</td>
                                                        <td>Total Duration</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </perfect-scrollbar>
                                            </mat-card-content>
                                        </div>
                                                    <h4>Investment</h4>
                                                        <perfect-scrollbar style="max-height: 330px;" [config]="config">
                                                            <table class="table commn-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Investment</th>
                                                                        <th>Total Duration</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Balance</td>
                                                                        <td>Total Duration</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Return Of Account(Short)</td>
                                                                        <td>Total Duration</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Balance</td>
                                                                        <td>Total Duration</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Return Of Account(Short)</td>
                                                                        <td>Total Duration</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Balance</td>
                                                                        <td>Total Duration</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Return Of Account(Short)</td>
                                                                        <td>Total Duration</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </perfect-scrollbar>
                                </div>
                            </div>
                        </div>
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                      </div>
                        </div>
                   </div>
                </div>

        
</div>

<app-footer-trading></app-footer-trading>