<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class="middle-content col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="sub-title mb-4">Trade Details</h5>
                                </div>
                                <div class="col-md-6">
                                    <table class="table tbl sts-rpt-tbl">
                                        <thead>
                                          <tr>
                                            <th>Sr. No.</th>
                                            <th>Pair</th>
                                            <th>Avarage Price</th>
                                            <th>Live Price</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>USD/EUR
                                            </td>
                                            <td>0.5687</td>
                                            <td>0.2148</td>
                                        </tr>
                                        <tr>
                                                <td>1</td>
                                                <td>USD/EUR
                                                </td>
                                                <td>0.5687</td>
                                                <td>0.2148</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                        <table class="table tbl sts-rpt-tbl">
                                                <tbody>
                                                  <tr>
                                                    <td>Total Duration: XXX</td>
                                                   
                                                    
                                                    
                                                </tr>
                                                <tr>
                                                        <td>Total Investment Per Hour: XXX</td>
                                                </tr>
                                                <tr>
                                                        <td>Profit / Loss Per Hour: XXX</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                </div>
                                <div class="col-md-6">
                                    <button mat-raised-button class="submit-button cal-btn">Add New Trade</button>
                                </div>
                            </div>
                            <div class="row mt-4">
                                    <div class="col-md-12">
                                            <h5 class="sub-title mb-4">Trade Entry</h5>
                                        </div>
                                        <div class="col-md-12">
                                                <div class="table-responsive sts-rpt-tbl">
                                                        <table class="table ">
                                                                <thead>
                                                                  <tr>
                                                                    <th>PAIR</th>
                                                                    <th>PRICE</th>
                                                                    <th>TRADE SIZE</th>
                                                                    <th>STOP LOSS</th>
                                                                    <th>TAKE PROFIT</th>
                                                                    <th>SWAP RATE</th>
                                                                    <th>LEAVERAGE</th>
                                                                    <th>SPRED</th>
                                                                    <th>COMMISSION</th>
                                                                  </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                        <td><input type="text"></td>
                                                                </tr>
                                                                    
                                                                </tbody>
                                                            </table>
                                                </div>
                                               
                                        </div>
                                        <div class="col-md-12 text-right mt-4">
                                                <button mat-raised-button class="submit-button cal-btn">Open Position</button>  
                                        </div>
                            </div>
                            <div class="row mt-4">
                                    <div class="col-md-12">
                                            <h5 class="sub-title mb-4">Source Input</h5>
                                        </div>
                                        <div class="col-md-12">
                                                <div class="table-responsive sts-rpt-tbl">
                                                        <table class="table ">
                                                                
                                                                <tbody>
                                                                 <tr>
                                                                     <td><i class="material-icons">
                                                                            add_box
                                                                            </i></td>
                                                                     <td><P>EONOMICAL CALENDER <i class="material-icons add">
                                                                        add_box
                                                                        </i></P>
                                                                        <P><select>
                                                                                <option value="volvo">NAB Business Confidence DEC</option>
                                                                                <option value="volvo">NAB Business Confidence DEC</option>
                                                                                <option value="volvo">NAB Business Confidence DEC</option>
                                                                                <option value="volvo">NAB Business Confidence DEC</option>
                                                                                
                                                                                
                                                                              </select></P>
                                                                              <P><select>
                                                                                    <option value="volvo">NAB Business Confidence DEC</option>
                                                                                    <option value="volvo">NAB Business Confidence DEC</option>
                                                                                    <option value="volvo">NAB Business Confidence DEC</option>
                                                                                    <option value="volvo">NAB Business Confidence DEC</option>
                                                                                    
                                                                                  </select></P>
                                                                     </td>
                                                                     <td><P>COUNTRY</P>
                                                                        <P><select>
                                                                                <option value="volvo">Canada</option>
                                                                                <option value="volvo">USA</option>
                                                                                <option value="volvo">Canada</option>
                                                                                <option value="volvo">USA</option>
                                                                                <option value="volvo">Canada</option>
                                                                                <option value="volvo">USA</option>
                                                                                <option value="volvo">Canada</option>
                                                                                <option value="volvo">USA</option>
                                                                                
                                                                                
                                                                              </select></P>
                                                                              <P><select>
                                                                                    <option value="volvo">Canada</option>
                                                                                    <option value="volvo">USA</option>
                                                                                    <option value="volvo">Canada</option>
                                                                                    <option value="volvo">USA</option>
                                                                                    <option value="volvo">Canada</option>
                                                                                    <option value="volvo">USA</option>
                                                                                    <option value="volvo">Canada</option>
                                                                                    <option value="volvo">USA</option>
                                                                                    
                                                                                  </select></P>
                                                                     </td>
                                                                     <td><P>PAIR</P>
                                                                        <P><select>
                                                                                <option value="volvo">USD/EUR</option>
                                                                                <option value="volvo">USD/EUR</option>
                                                                                <option value="volvo">USD/EUR</option>
                                                                                <option value="volvo">USD/EUR</option>
                                                                                
                                                                              </select></P>
                                                                              <P><select>
                                                                                    <option value="volvo">USD/EUR</option>
                                                                                <option value="volvo">USD/EUR</option>
                                                                                <option value="volvo">USD/EUR</option>
                                                                                <option value="volvo">USD/EUR</option>
                                                                                  </select></P>
                                                                     </td>
                                                                    
                                                                     <td><P>DIRECTION</P>
                                                                     <P><select>
                                                                            <option value="volvo">Up</option>
                                                                            <option value="saab">Down</option>
                                                                            <option value="mercedes">left</option>
                                                                            <option value="audi">Right</option>
                                                                          </select></P>
                                                                          <P><select>
                                                                                <option value="volvo">Up</option>
                                                                                <option value="saab">Down</option>
                                                                                <option value="mercedes">left</option>
                                                                                <option value="audi">Right</option>
                                                                              </select></P>
                                                                     </td>
                                                                 </tr>
                                                                 <tr>
                                                                        <td><i class="material-icons">
                                                                                add_box
                                                                                </i></td>
                                                                         <td><P>SIGNAL PROVIDER</P> 
                                                                            <td><P>NAME</P>  
                                                                                <td><P>PAIR</P> 
                                                                                    <td><P>DIRECTION</P> 
                                                                 </tr>
                                                                 <tr>
                                                                        <td><i class="material-icons">
                                                                                add_box
                                                                                </i></td>
                                                                         <td><P>CHART</P> 
                                                                            <td><P>CHART PATTERN</P>  
                                                                                <td><P>GRAPH</P> 
                                                                                    <td><P>DIRECTION</P> 
                                                                 </tr>
                                                                 <tr>
                                                                        <td><i class="material-icons">
                                                                                add_box
                                                                                </i></td>
                                                                         <td><P>INDICATOR</P> 
                                                                            <td><P>TRNED(FOLOWING-LANGGING)</P>  
                                                                                <td><P>NAME OF INDICATOR</P> 
                                                                                    <td><P>DIRECTION</P> 
                                                                 </tr>
                                                                 <tr>
                                                                        <td><i class="material-icons">
                                                                                add_box
                                                                                </i></td>
                                                                         <td><P>NEWS</P> 
                                                                            <td><P>CHANEL</P>  
                                                                                <td><P>PAIR</P> 
                                                                                    <td><P>DIRECTION</P> 
                                                                 </tr>
                                                                 
                                                                    
                                                                </tbody>
                                                            </table>
                                                </div>
                                               
                                        </div>
                                        <div class="col-md-12 text-right mt-4">
                                                <button mat-raised-button class="submit-button cal-btn">Submit</button>  
                                        </div>
                            </div>
                        </div>
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                </div>
                        </div>
                   </div>
                </div>

        
</div>

<app-footer-trading></app-footer-trading>