<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class="middle-content col-md-8">
                          <div class="row">
                            <div class="col-md-4 chat_usernames">
                              <header class="chat_userprofile">
                                <div class="user_img">
                                  <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                </div>
                                <h2>User Name</h2>
                                <p>username@gmail.com</p>
                                <h6>8596746532</h6>
                              </header>
                              <div class="chat_searchsection">
                                  <form class="example-form">
                                  <mat-form-field class="chat_search">
                                      <input matInput placeholder="Search">
                                      <i class="material-icons chat_searchicon">
                                          search
                                          </i>
                                    </mat-form-field>
                                    </form>
                              </div>
                              <div class="chat_userslist">
                                <ul class="nav nav-tabs chatuser_menu">
                                  <li class="active"><a data-toggle="tab" href="#home">
                                      <i class="material-icons chat_icon">
                                          sms
                                          </i></a>
                                          <span>Chats</span>
                                        </li>
                                  <li><a data-toggle="tab" href="#menu1">
                                    <i class="material-icons chat_icon">
                                      people
                                      </i></a>
                                      <span>Group</span>
                                    </li>
                                  <li><a data-toggle="tab" href="#menu2">
                                    <i class="material-icons chat_icon">
                                      contact_phone
                                      </i></a>
                                      <span>Contacts</span>
                                    </li>
                                  <li><a data-toggle="tab" href="#menu3">
                                    <i class="material-icons chat_icon">
                                      notifications_active
                                      </i></a>
                                      <span>Notifications</span>
                                    </li>
                                </ul>
                              
                                <div class="tab-content">
                                  <div id="home" class="tab-pane fade in active">
                                    <div class="user_profile">
                                      <div class="user_img">
                                          <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                        </div>
                                        <h2>User Name</h2>
                                        <h6>Last Seen 7.35 pm</h6>
                                      </div>
                                      <div class="user_profile">
                                        <div class="user_img">
                                            <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                          </div>
                                          <h2>User Name</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img">
                                              <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                            </div>
                                            <h2>User Name</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                          <div class="user_profile">
                                            <div class="user_img">
                                                <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                              </div>
                                              <h2>User Name</h2>
                                              <h6>Last Seen 7.35 pm</h6>
                                            </div>
                                            <div class="user_profile">
                                              <div class="user_img">
                                                  <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                                </div>
                                                <h2>User Name</h2>
                                                <h6>Last Seen 7.35 pm</h6>
                                              </div>
                                  </div>
                                  <div id="menu1" class="tab-pane fade">
                                      <div class="user_profile">
                                        <div class="user_img">
                                            <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                          </div>
                                          <h2>User Name</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img">
                                              <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                            </div>
                                            <h2>User Name</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                  </div>
                                  <div id="menu2" class="tab-pane fade">
                                      <div class="user_profile">
                                        <div class="user_img">
                                            <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                          </div>
                                          <h2>User Name</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img">
                                              <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                            </div>
                                            <h2>User Name</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                          <div class="user_profile">
                                            <div class="user_img">
                                                <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                              </div>
                                              <h2>User Name</h2>
                                              <h6>Last Seen 7.35 pm</h6>
                                            </div>
                                  </div>
                                  <div id="menu3" class="tab-pane fade">
                                      <div class="user_profile">
                                        <div class="user_img">
                                            <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                          </div>
                                          <h2>User Name</h2>
                                          <h6>Last Seen 7.35 pm</h6>
                                        </div>
                                        <div class="user_profile">
                                          <div class="user_img">
                                              <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                            </div>
                                            <h2>User Name</h2>
                                            <h6>Last Seen 7.35 pm</h6>
                                          </div>
                                          <div class="user_profile">
                                            <div class="user_img">
                                                <img src="assets/images/avtar.jpg" alt="avtar.jpg" title="User Pic">
                                              </div>
                                              <h2>User Name</h2>
                                              <h6>Last Seen 7.35 pm</h6>
                                            </div>
                                            <div class="user_profile">
                                              <div class="user_img">
                                                  <img src="assets/images/no_profile.png" alt="no_profile.png" title="User Pic">
                                                </div>
                                                <h2>User Name</h2>
                                                <h6>Last Seen 7.35 pm</h6>
                                              </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-8 chats_section">
                              
                                <header class="chatsec_header">
                                  <div class="chat_person">
                                    <img src="assets/images/male_user.png" alt="male_user.png" title="User Pic">
                                  </div>
                                  <h2>Trader / Group Name</h2>
                                  <h6>Last Seen 7.35 pm</h6>
                                  <i class="material-icons add_usergrp">
                                      group_add
                                      </i>
                                  <button mat-button [matMenuTriggerFor]="menu" class="chat_more">
                                    <i class="material-icons chat_menuoption">
                                      more_vert
                                      </i></button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Item 1</button>
                                    <button mat-menu-item>Item 2</button>
                                  </mat-menu>
                                  </header>
                                  <div class="chating_section">
                                    <div class="col-md-7 left_sidechat">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec 
                                          pharetra feugiat pharetra. Aenean gravida venenatis dolor ut 
                                          viverra. Curabitur nec nisi vestibulum dolor semper convallis 
                                          sed ut dolor. </p>
                                        <span class="time-right">11:01 am</span>
                                      </div>
                                      <div class="col-md-7 right_sidechat">
                                          <p>Vivamus suscipit a turpis in cursus. Sed venenatis nunc in sem euismod, in pulvinar purus scelerisque. In vitae nisi auctor, viverra dui vel, aliquam lectus. Etiam eu ex leo.</p>
                                          <span class="time-left">11:00 am</span>
                                        </div>
                                        <div class="col-md-7 left_sidechat">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec 
                                              pharetra feugiat pharetra. </p>
                                            <span class="time-right">11:02 am</span>
                                          </div>
                                          
                                  <div class="col-md-12 chating_below">
                                      <form class="example-form">
                                          <mat-form-field class="chat_belowsearch">
                                              <input matInput placeholder="Search">
                                              <i class="material-icons chat_searchicon">
                                                  search
                                                  </i>
                                            </mat-form-field>
                                            </form>
                                            <i class="material-icons send_sms">
                                                send
                                                </i>
                                                <i class="material-icons reply_sms">
                                                    reply
                                                    </i>
                                  </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                      </div>
                        </div>
                   </div>
                </div>

        
</div>

<app-footer-trading></app-footer-trading>
