<nav class="navbar navbar-right navbar-expand-lg  header-navbar">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#about-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons navbar-toggler-icon">
          menu
          </i> <span class="submenu-text">submenu</span>
    </button>
  
    <div class="collapse navbar-collapse" id="about-menu">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/signedup-dashboard">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/planning">Planning</a>
              </li>
            
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chart Study
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/chart-study">Chart Study</a>
            <a class="dropdown-item" routerLink="/chart-study-log">Chart Study Log</a>
            <a class="dropdown-item" routerLink="/chart-study-table">Chart Study Table</a>
            <a class="dropdown-item" routerLink="/revised-chart-study">Revised Chart Study</a>
          </div>
        </li>
        
         
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Performance
                </a>
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   
                  <a class="dropdown-item" routerLink="/filters">Filters</a>
                  <a class="dropdown-item" routerLink="/performance">Performance Graph</a>
                  <a class="dropdown-item" routerLink="/psychology">Psychology Graph</a>
                  <a class="dropdown-item" routerLink="/quarterwise-performance">Quaterwise Performance Graph</a>
                  <a class="dropdown-item" routerLink="/socials-performance">Socials Graph</a>
                  <a class="dropdown-item" routerLink="/source-type-performance">Source type Performance Graph</a>
                  <a class="dropdown-item" routerLink="/candelstick-perf">Candelstick Performance</a>
                  <a class="dropdown-item" routerLink="/chart-studies-perf">Chart Studies Performance</a>
                  <a class="dropdown-item" routerLink="/eco-cal-perf">Economical Calander Performance</a>
                  <a class="dropdown-item" routerLink="/indicators-perf">Indicator Performance</a>
                  <a class="dropdown-item" routerLink="/newsperf">News Performance</a>
                  <a class="dropdown-item" routerLink="/pstchology-perf">Psychology Performance</a>
                  <a class="dropdown-item" routerLink="/signal-provider-perf">Signal Provider Performance</a>
                  <a class="dropdown-item" routerLink="/source-type-perf">Source Type Performance</a>
                  <a class="dropdown-item dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Old Reference</a>
                  
                  
                  
                  
                  
                </div>
              </li> -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Performance</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown1">
                      <li class="dropdown-item dropdown">
                          <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Old Reference</a>
                          <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                              <li class="dropdown-item" href="#" routerLink="/filters"><a>Filters</a></li>
                              <li class="dropdown-item" href="#" routerLink="/performance"><a>Performance</a></li>
                              <li class="dropdown-item" href="#" routerLink="/psychology"><a>Psychology</a></li>
                              <li class="dropdown-item" href="#" routerLink="/quarterwise-performance"><a>Quarterwise Performance</a></li>
                              <li class="dropdown-item" href="#" routerLink="/socials-performance"><a>Socials</a></li>
                              <li class="dropdown-item" href="#" routerLink="/source-type-performance"><a>Source Type Performance</a></li>
                              
                          </ul>
                      </li>
                      <li class="dropdown-item" href="#" routerLink="/candelstick-perf"><a>Candelstick</a></li>
                      <li class="dropdown-item" href="#" routerLink="/chart-studies-perf"><a>Chart Studies</a></li>
                      <li class="dropdown-item" href="#" routerLink="/eco-cal-perf"><a>Economical Calander</a></li>
                      <li class="dropdown-item" href="#" routerLink="/indicators-perf"><a>Indicator</a></li>
                      <li class="dropdown-item" href="#" routerLink="/newsperf"><a>News</a></li>
                      <li class="dropdown-item" href="#" routerLink="/pstchology-perf"><a>Psychology</a></li>
                      <li class="dropdown-item" href="#" routerLink="/signal-provider-perf"><a>Signal Provider</a></li>
                      <li class="dropdown-item" href="#" routerLink="/source-type-perf"><a>Source Type</a></li>
                      
                  </ul>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/trade-entry">Trade Entry</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Reports
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/reports/status-report">Status Reports</a>
                    <a class="dropdown-item" routerLink="/reports/trading-log-report">Trading Log Reports</a>
                  </div>
                </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/personal-page">Personal Page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Socials 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/socials/blog">Blog</a>
                      <a class="dropdown-item" routerLink="/socials/chat">Chat</a>
                      <a class="dropdown-item" routerLink="/socials/list">List</a>
                      <a class="dropdown-item" routerLink="/socials/news">News</a>
                      <a class="dropdown-item" routerLink="/socials/general-feed">General Feed Page</a>
                      <a class="dropdown-item" routerLink="/socials/trade-position">Trade Position</a>
                    </div>
                  </li>
                 
      </ul>
      
    </div>
  </nav>
 