<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class="middle-content col-md-8">
                            <div class="row list-txt">
                                   
                            <div class="col-md-12">
                                        <h4>Lists</h4>
                                    <img src="assets/images/list1-img.png" width="100%">
                                    <hr>
                            </div>
                            <div class="col-md-12 liked-post">
                                    <h4>Liked Post</h4>
                                    <br>
                                    <div class="">
                                    <p>P. Chidambaram On SC Order In Rafale Case, Elections 2019</p>
                                    </div>
                                    <div class="">
                                    <p>European stocks cautiously higher before Brexit summit, ECB meeting</p>
                                    </div>
                                    <div class="">
                                    <p>P. Chidambaram On SC Order In Rafale Case, Elections 2019</p>
                                    </div>
                                    <div class="">
                                    <p>European stocks cautiously higher before Brexit summit, ECB meeting</p>
                                    </div>
                            </div>
                            
                            </div>
                          
                            
                            </div>
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                      </div>
                        </div>
                   </div>
                </div>

        
</div>

<app-footer-trading></app-footer-trading>