<div class="top-header">
    <!-- <div class="container"> -->
        <div class="row header-txt">
            <div class="col-5 col-md-6"><img src="assets/images/trading-logo.png" routerLink="/signedup-dashboard" width="180"></div>
            <div class="col-7 col-md-6 btns">
              <p>
                  <span class="signupbtn" routerLink="/signup">Sign Up</span>
                  <span class="loginbtn" routerLink="/login">Log In</span>
              </p>
              
              
            </div>
          </div>
    <!-- </div> -->
  </div>
  
<nav class="navbar navbar-right navbar-expand-lg  header-navbar">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons navbar-toggler-icon">
          menu
          </i> <span class="menu-text">menu</span>
    </button>
  
    <div class="collapse navbar-collapse" id="top-menu">
      <ul class="navbar-nav">
        <li class="nav-item dropdown cal-li">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Calculators
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/">Fabonacci Calculator</a>
            <a class="dropdown-item" routerLink="/pip-calculator">PIP Calculator</a>
            <a class="dropdown-item" routerLink="/margin-calculator">Margin Calculator</a>
            <a class="dropdown-item" routerLink="/profit-calculator">Profit Calculator</a>
          </div>
        </li>
        <li class="nav-item active chart-li">
            <a class="nav-link" routerLink="/chart">Chart</a>
          </li>
         
            <li class="nav-item dropdown analysis-li">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Analysis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/tech-analysis">Technical Analysis</a>
                  <a class="dropdown-item" routerLink="/moving-averg">Moving Averages</a>
                  
                </div>
              </li>
            <li class="nav-item active eco-li">
                <a class="nav-link" routerLink="/economical-calender">Economical Calender</a>
              </li>
              <li class="nav-item active per-li">
                  <a class="nav-link" routerLink="/top-performers">Top Performers</a>
                </li>
                <li class="nav-item active blog-li">
                    <a class="nav-link" routerLink="/visitorblogs">Blog</a>
                  </li>
                  <li class="nav-item active news-li">
                      <a class="nav-link" routerLink="/visitor-news">News</a>
                    </li>
          
       
      </ul>
      
    </div>
  </nav>