<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content" [ngStyle]="{'margin-left': margin_left + 'px'}">
  <mat-card class="main-mat-card">
      <div class="row">
          <div class="col-md-6">
                <div class="row user">
                    <div class="col-md-12">
                        <h2>John Mark</h2>
                        <p>testing@gmail.com</p>
                    </div>
                </div>

                <div class="row user-content mt-4">
                    <div class="col-md-6 address">
                        <h6>Address</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur 
                                sit amet, consectetur sit amet, consectetur 
                                sit amet, consectetur 420698</p>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="box box4">
                                <h2>10/05/2019</h2>
                                <p class="m-0">Subscription Expires On</p>
                        </div>
                    </div>
                </div>

          </div>
          <div class="col-md-6 ">
             <div class="right-content">
                    <div class="row">
                            <div class="col-md-6">
                                    <h6>Login History</h6>
                            </div>
                            <div class="col-md-6 text-right">
                                    <mat-icon class="material-icons"> refresh</mat-icon>
                            </div>
                        </div>
                        <perfect-scrollbar style="max-height: 200px;" [config]="config">        
                        <table class="table commn-table ">
                                <thead>
                                          <tr>
                                              <th>Logged In</th>
                                              <th>IP Address</th>
                                          </tr>
                                </thead>
                                      <tbody>
                                          <tr>
                                               <td>01/03/2019 06:05:39</td>
                                               <td >127.0.0.1</td>
                                          </tr>
                                          <tr>
                                              <td>01/03/2019 06:05:39</td>
                                              <td >127.0.0.1</td>
                                         </tr>
                                         <tr>
                                            <td>01/03/2019 06:05:39</td>
                                            <td >127.0.0.1</td>
                                       </tr>
                                       <tr>
                                          <td>01/03/2019 06:05:39</td>
                                          <td >127.0.0.1</td>
                                     </tr>
                                     <tr>
                                        <td>01/03/2019 06:05:39</td>
                                        <td >127.0.0.1</td>
                                   </tr>
                                   <tr>
                                      <td>01/03/2019 06:05:39</td>
                                      <td >127.0.0.1</td>
                                 </tr>
                                 <tr>
                                    <td>01/03/2019 06:05:39</td>
                                    <td >127.0.0.1</td>
                               </tr>
           
                                          </tbody>
                           </table>
                           </perfect-scrollbar>
                          
                        
             </div>
          </div>
          </div>

          <div class="row page-content">
              <div class="col-md-12">
                  <div class="row header bor-btm">
                     
                      <div class="col-md-3">
                         <h5 class="payment-hist">Payment History</h5>
                      </div>
                      
                      <div class="col-md-3 text-right">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Filter by Name" >
                            </mat-form-field>
                      </div>
                      
                      <div class="col-md-3 text-right">
                          <mat-form-field class="example-full-width2" >
                          <input matInput [matDatepicker]="picker1" placeholder="Choose a date" >
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                      </div>
                      
                      <div class="col-md-3 text-right">
                            <mat-form-field class="example-full-width3" >
                                    <input matInput [matDatepicker]="picker2" placeholder="Choose a date" >
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                          
                      </div>
                      </div>
                     
                  
                      <table class="table commn-table">
                      <thead>
                                <tr>
                                    <th>Payment Date</th>
                                    <th>Mode of Payment</th>
                                    <th >Payment Status</th>
                                </tr>
                      </thead>
                            <tbody>
                                <tr>
                                     <td>01/03/2019</td>
                                    <td>Visa</td>
                                    <td >Paid</td>
                                </tr>

                                <tr>
                                    <td>01/03/2019</td>
                                    <td>Master Card</td>
                                    <td >Paid</td>
                                </tr>

                                <tr>
                                    <td>01/03/2019</td>
                                    <td>Wire Transfer</td>
                                    <td >Paid</td>
                                </tr>
                                
                                <tr>
                                    <td>01/03/2019</td>
                                    <td>Master Card</td>
                                    <td >Paid</td>
                          
                               </tr>

                                <tr>
                                    <td>01/03/2019</td>
                                    <td>Wire Transfer</td>
                                    <td >Paid</td>
                                </tr>
                               
                                <tr>
                                    <td>01/03/2019</td>
                                    <td>Wire Transfer</td>
                                    <td >Paid</td>
                                </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                    
        
      </mat-card>
    
</div>
<app-footer></app-footer>