<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h6>Menu</h6>
      <ul>
        <li >Dashboard</li>
        <li routerLink="/user-mngt">User Management</li>
        <li routerLink="/acoounting">Accounting</li>
        <li routerLink="/access-control">Access Control</li>
        <li routerLink="/features-control">Features Control</li>
        <li routerLink="/advt-mngt">Advertisement Management</li>
        <li routerLink="/blog">media</li>
        <li routerLink="/cmscd">CMS</li>
      </ul>
    </div>
    <div class="col-md-10">
     
    </div>
  </div>
</div>
<app-footer></app-footer>