<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>
                        <div class=" middle-content col-md-8">
                          <div class="usr-prfle">
                              <h5>User Profile</h5>
                              <div class="row mt-4">
                                <div class="col-md-2">
                                 
                                  <img src="assets/images/avtar.jpg" width="100%">
                                </div>
                                <div class="col-md-10">
                                  <p><span>Name: &nbsp;&nbsp;&nbsp;Shwetambari</span> </p>
                                  <p><span>User Name:&nbsp;&nbsp;&nbsp;Shweta</span> </p>
                                  <p><span>Email ID:&nbsp;&nbsp;&nbsp;abc@gmail.com</span> </p>
                                  <p>Password:&nbsp;&nbsp;&nbsp;******** &nbsp;&nbsp;&nbsp;<span class="passwrd">Change Password</span> </p>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetuer adipiscing 
                                      elit. Aenean commodo ligula eget dolor. Aenean 
                                      massa.
                                      Cum sociis natoque penatibus et magnis dis 
                                      parturient montes, nascetur ridiculus mus. Donec quam 
                                      felis, ultricies nec, pellentesque eu, pretium quis, 
                                      sem.
                                      Nulla consequat massa quis enim. Donec pede justo, 
                                      fringilla vel, aliquet nec, vulputate eget, arcu.
                                      In enim justo, rhoncus ut, imperdiet a, venenatis 
                                      vitae, justo. Nullam dictum felis eu pede mollis 
                                      pretium. Integer tincidunt.
                                      Lorem ipsum dolor sit amet, consectetuer adipiscing 
                                      elit. Aenean commodo ligula eget dolor. Aenean 
                                      massa.
                                      Cum sociis natoque penatibus et magnis dis 
                                      parturient montes, nascetur ridiculus mus. Donec quam 
                                      felis, ultricies nec, pellentesque eu, pretium quis, 
                                      sem.
                                      Nulla consequat massa quis enim. Donec pede justo, 
                                      fringilla vel, aliquet nec, vulputate eget, arcu.
                                      In enim justo, rhoncus ut, imperdiet a, venenatis 
                                      vitae, justo. Nullam dictum felis eu pede mollis 
                                      pretium. Integer tincidunt.
                                    
                                    </p>
                                </div>
                              </div>
                          </div>
                           
                        </div>  
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                </div>
                        </div>
                   </div>
                </div>

        
</div>


<app-footer-trading></app-footer-trading>