<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                        <p><img src="assets/images/left-adv.png"></p>
                                      </div>
                        </div>

                        <div class="middle-content col-md-8 candelstick">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="sub-title mb-4">
                                  Source Type performance
                                </h5> 
                            </div>
                              <div class="col-md-5">
                                <mat-radio-button class="selectn-head">Duration</mat-radio-button>
                                  <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select>
                                      <mat-option>Quarter 1</mat-option>
                                      <mat-option>Quarter 2</mat-option>
                                      <mat-option>Quarter 3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>

                              <div class="col-md-7">
                                  <mat-radio-button class="selectn-head">Pair</mat-radio-button>
                                  <mat-form-field>
                                    <mat-label>Select</mat-label>
                                    <mat-select>
                                      <mat-option>Quarter 1</mat-option>
                                      <mat-option>Quarter 2</mat-option>
                                      <mat-option>Quarter 3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                             
                        </div>
                            
                        <div class="row">

                                <div class="col-md-5">
                                   <mat-radio-button class="selectn-head">Source</mat-radio-button>
                                    <mat-form-field >
                                      <mat-label>Select</mat-label>
                                        <mat-select>
                                          <mat-option>Quarter 1</mat-option>
                                          <mat-option>Quarter 2</mat-option>
                                          <mat-option>Quarter 3</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                

                                <mat-form-field >
                                  <mat-label>Select</mat-label>
                                    <mat-select>
                                      <mat-option>Quarter 1</mat-option>
                                        <mat-option>Quarter 2</mat-option>
                                          <mat-option>Quarter 3</mat-option>
                                        </mat-select>
                                </mat-form-field>
                                </div>
                                     
                              

                                <div class="col-md-7">
                                    <mat-radio-button class="selectn-head" >Quaterwise</mat-radio-button>
                                      <mat-form-field >
                                              <mat-label>Select</mat-label>
                                              <mat-select>
                                                <mat-option>Quarter 1</mat-option>
                                                <mat-option>Quarter 2</mat-option>
                                                <mat-option>Quarter 3</mat-option>
                                              </mat-select>
                                      </mat-form-field>
                                      
                                    
                                </div>
                        </div>

                        <div class="row">
                                
                                <div class="col-md-5">
                                    <mat-radio-button class="selectn-head">Trade Type</mat-radio-button>
                                    <mat-form-field >
                                      <mat-label>Select</mat-label>
                                      <mat-select>
                                        <mat-option>Quarter 1</mat-option>
                                      <mat-option>Quarter 2</mat-option>
                                      <mat-option>Quarter 3</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-7">
                                   <mat-radio-button class="selectn-head">Psychology</mat-radio-button>
                                     <mat-form-field >
                                                    <mat-label>Select</mat-label>
                                                    <mat-select>
                                                      <mat-option>Quarter 1</mat-option>
                                                       <mat-option>Quarter 2</mat-option>
                                                     <mat-option>Quarter 3</mat-option>
                                                    </mat-select>
                                                  </mat-form-field>
                                            
                                           
                                                <mat-form-field >
                                                    <mat-label>Select</mat-label>
                                                    <mat-select>
                                                      <mat-option>Quarter 1</mat-option>
                                                      <mat-option>Quarter 2</mat-option>
                                                      <mat-option>Quarter 3</mat-option>
                                                    </mat-select>
                                                  </mat-form-field>
                                          
                                            
                                                <mat-form-field >
                                                    <mat-label>Select</mat-label>
                                                    <mat-select>
                                                      <mat-option>Quarter 1</mat-option>
                                                      <mat-option>Quarter 2</mat-option>
                                                      <mat-option>Quarter 3</mat-option>
                                                    </mat-select>
                                                  </mat-form-field>
                                            
                                </div>

                        </div>
                            
                        <div class="row">
                            <div class="col-md-4 text-center p-0">
                                <div class="tble-head">
                                <h6>Time</h6>
                                </div>
                                <div class="tble-head1">
                                <h6>Input</h6>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 text-center subheading-input ">
                                    
                                      <div class="condelsticks-content">
                                     
                                      <div class="input-text">
                                        <p>Investment</p>
                                      </div>
                                      <div class="input-text">
                                        <p>Total Investment (Long)</p>
                                        </div>
                                      <div class="input-text">
                                        <p>Total Investment (Short)</p>
                                      </div>
                                      <div class="input-text">
                                        <p>Return of Investment</p>
                                      </div>
                                      <div class="input-text">
                                        <p>Return of Investment (Long)</p>
                                      </div>
                                      <div class="input-text">
                                        <p>Return of Investment (Short)</p>
                                      </div>
                                      <div class="input-text">
                                          <p>Return of Account</p>
                                        </div>
                                        <div class="input-text">
                                          <p>Return of Account(Long)</p>
                                          </div>
                                        <div class="input-text">
                                          <p>Return of Account(Short)</p>
                                        </div>
                                        <div class="input-text">
                                          <p>Profit Factor</p>
                                        </div>
                                        <div class="input-text">
                                          <p>Gross Profit</p>
                                        </div>
                                        <div class="input-text">
                                          <p>Gross Loss</p>
                                        </div>
                                        <div class="input-text">
                                            <p>Net Profit</p>
                                          </div>
                                          <div class="input-text">
                                            <p>No. of Trades</p>
                                            </div>
                                          <div class="input-text">
                                            <p>No. of Trades (Long)</p>
                                          </div>
                                          <div class="input-text">
                                            <p>No. of Trades (Short)</p>
                                          </div>
                                          <div class="input-text">
                                            <p>Trades per day</p>
                                          </div>
                                          <div class="input-text">
                                            <p>Trades per day (Long)</p>
                                          </div>
                                          <div class="input-text">
                                              <p>Trades per day (Long)</p>
                                            </div>
                                          
                                          
                                      </div>   
                                    </div>
                                
                                </div>

                            </div>

                            <div class="col-md-8 text-center p-0">

                            <div class="table-responsive w-100 d-flex">
                                <div class="sec-qtr">
                                    <div class="tble-head">
                                        <h6>Quarter 1</h6>
                                        </div>
        
                                        <div class="table-border  table-tabs">
                                            <table class="table commn-table performance mrg0  ">
                                                <thead>
                                                  <tr>
                                                    <th>Hammer</th>
                                                    <th>Inverted Hammer</th>
                                                    <th>Piercing Line</th>
                                                    <th>Morning Star</th>
                                                    <th>Three white Soldier</th>
                                                  </tr>
                                                </thead>
                                                </table>
                                        </div>
                                        
                                        <table class="table performance mrg0">
                                                <tbody>
                                                    <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr> 
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr> 
            
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr> 
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
            
                                                        
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr> 
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr> 
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
                
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
                
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
                
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
        
                                                    </tbody>
                                                 
                                        </table>
                                </div>
                                <div class="sec-qtr">
                                    <div class="tble-head">
                                        <h6>Quarter 2</h6>
                                        </div>
        
                                        <div class="table-border  table-tabs">
                                            <table class="table commn-table performance mrg0  ">
                                                <thead>
                                                  <tr>
                                                    <th>Hammer</th>
                                                    <th>Inverted Hammer</th>
                                                    <th>Piercing Line</th>
                                                    <th>Morning Star</th>
                                                    <th>Three white Soldier</th>
                                                  </tr>
                                                </thead>
                                                </table>
                                        </div>
                                        
                                        <table class="table performance mrg0">
                                                <tbody>
                                                    <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>

                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr>
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr> 
            
                                                      <tr>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                        <td>bcsjha</td>
                                                      </tr> 
            
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr> 
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
            
                                                        
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr> 
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr> 
              
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
                
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
                
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
                
                                                      <tr>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                          <td>bcsjha</td>
                                                      </tr>
        
                                                    </tbody>
                                                 
                                        </table>
                                </div>
                            </div>

                            </div>
                           
                          
                        </div>

                        </div>
                      
                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                </div>
                        </div>
                   </div>
                </div>

        
</div>


<app-footer-trading></app-footer-trading>