 /* start CMS-pages */
    
 /* .blog_card
 {
     background: #f7f7f7;
 }
 
 ul.cms_menu {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 .cms_menu li {
     padding: 10px 0px 10px 15px;
     text-align: left;
     border-bottom: 1px solid #eaeaea;
     color:#737373;
     cursor: pointer;
 }
 
 .mat-card.main-mat-card1 {
     transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
     display: block;
     position: relative;
     padding: 0px 15px 0px 14px;
     border-radius: 4px;
 }
 
 .page-content1 {
     padding: 8px 0px 0px 0px !important;
 }
 
 .select {
     padding: 0 25px;
     background-color: #8e8e8e;
     color: #fff;
     font-weight: 100;
 }
 
 .Heading
 {
     font-size: 14px;
     color:#737373;
 }
 
 .export {
     padding: 0px 32px;
     background-color: #12d1d5;
     color: #fff;
 
 }
 
 .content1
 {
     font-size:  14px;
     color:#949393;
     margin: 20px 0px;
 }
 
 .calculators
 {
     background-color: #fafafa;
     border-width: 1px 1px 0px 1px;
     border-style: solid;
     border-color: #eaeaea;
     margin-left: 0px;
 }
 
 .drop_up
 {
     color:#696969;
 }
 
 .menu_content1 span {
     color: #696969;
 }

 
 
 .calcsection_header {
     background: #fafafa;
     border-bottom: 1px solid #e2e2e2;
     height: 45px !important;
 }
 
 .calcsection_header:hover,
 .calcsection_header:focus {
     background: #fafafa !important;
 }
 
 .headermenu_page {
     text-align: right;
     display: block !important;
 }
 
 .calculator_section {
     width: 100%;
 }
 
 h6.navi_label {
     font-size: 15px;
     color: #949393;
     font-weight: 100;
     font-style: italic;
     margin: 0;
     padding: 15px 0px 0px 0px;
 }
 
 .mat-expansion-panel.dropdoen_section.dropdoen_section {
     margin-bottom: 13px;
     box-shadow: none;
     border: 1px solid #e2e2e2;
     border-radius: 0px;
 }
 
 .dropdoen_section a button{
     background-color: #fff;
     border: none;
     color: #868585;
     float: left;
     padding: 0px 8px 0px 0px;
     font-size: 15px;
     margin: 0px 0px 0px 0px;
     cursor: pointer;
 }
 .dropdoen_section a button.delete_btn {
     border-left: 2px solid #9f9f9f;
     color: red;
     border-right: none;
     padding: 0px 0px 0px 7px;
     cursor: pointer;
 }
 
 .signup_navsection{
   display: none;  
 }

 .page-content1 {
     padding: 8px 0px 16px 0px !important;
 }

 .pages_icons i{
     color:#5983e8;
 }

.active
  {color: red;}
 */

  /* .row.page-content1.menu_section.Blog_Pages1 {
     padding: 8px 0px 0px 0px !important;
 }
 .menu_section ,.cms-opt{
    background-color: #EEEEEE;
}
.menu1 {
    background-color: #fff;
    padding: 0px;
} */
  /* End CMS-pages */