<div class="container-fluid">
  <div class="row footer">
    <div class="col-md-8">
     <p>@copyright 2019, Trading</p>
    </div>
    <div class="col-md-4 text-right">
     <p>Powered By <img src="assets/images/logo.png" width="50"></p>
    </div>
  </div>
</div>