
<app-header-trading></app-header-trading>
<app-submenubar></app-submenubar>
<app-topadv></app-topadv>
<div class="main-page-content">
            <div class="container-fluid">
                   <div class="row">
                        <div class="left-side col-md-2">
                                <div class="adv-left-image text-left">
                                    <p><img src="assets/images/left-adv.png"></p>
                                </div>
                        </div>

                        <div class="middle-content col-md-8">
                            <div class="row">
                                <div class="col-md-6 mt-4 images ">
                                    <img src="assets/images/live-chart.png" alt="News" width="100%">
                                    <div class="chart_study">
                                      <h6>Chart Study Name</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4 images">
                                  <img src="assets/images/live-chart.png" alt="News" width="100%">
                                  <div class="chart_study">
                                    <h6>Chart Study Name</h6>
                                  </div>
                              </div>
                             </div>

                             <div class="row">
                              <div class="col-md-6 mt-4 images ">
                                  <img src="assets/images/live-chart.png" alt="News" width="100%">
                                  <div class="chart_study">
                                    <h6>Chart Study Name</h6>
                                  </div>
                              </div>
                              <div class="col-md-6 mt-4 images">
                                <img src="assets/images/live-chart.png" alt="News" width="100%">
                                <div class="chart_study">
                                    <h6>Chart Study Name</h6>
                                  </div>
                            </div>
                            
                           </div>
                        </div>

                        

                        <div class="right-side col-md-2 text-right">
                                <div class="adv-right-image">
                                        <p><img src="assets/images/right-adv.png"></p>
                                </div>
                        
                        </div>
                   </div>
                </div>

        
</div>

<app-footer-trading></app-footer-trading>