.logo-img {
    background-color: #eeeeee;
    text-align: center;
}
.header-right {
    background: linear-gradient(45deg, #0cd7d3, #4e8fe5);
}
.toggle-icon {
    color: #fff;
    font-size: 24px;
    margin: 15px 0px;
}