<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 logo-img">
     <p><img src="assets/images/trading-logo.png" alt="trading logo"width="100" class="aligncenter"></p>
    </div>
    <div class="col-md-10 header-right">
     <div class="row">
       <div class="col-md-4">
         <i class="material-icons toggle-icon">menu</i>
       </div>
     </div>
    </div>
  </div>
</div>